In [1]:
import pandas as pd
test = pd.DataFrame()
test['Tổng lưu lượng xả (m³/s)[Thực tế] - t'] =[11]
test['SoMua'] =[1]
test['Lưu lượng đến hồ (m³/s) - t'] =[22.2]

In [2]:
test

   Tổng lưu lượng xả (m³/s)[Thực tế] - t  SoMua  Lưu lượng đến hồ (m³/s) - t
0                                     11      1                         22.2

In [3]:
test.to_csv('demo.csv', index = False)

In [1]:
import joblib
# Load mô hình RandomForest
loaded_rf_model = joblib.load('best_model/best_rf_model_t_2.pkl')

In [2]:
loaded_rf_model

RandomForestRegressor(max_depth=8, min_samples_split=10, n_estimators=88,
                      random_state=42)

In [2]:
import pandas as pd
test = pd.DataFrame()
x1 = float(input("Nhập tổng lưu lượng xả tại thời điểm t: "))
x2 = float(input("Mưa tại thời điểm t: "))
x3 = float(input("Nhập lưu lượng nước tại thời điểm t: "))
test['Tổng lưu lượng xả (m³/s)[Thực tế] - t'] = [x1]
test['SoMua'] = [x2]
test['Lưu lượng đến hồ (m³/s) - t'] = [x3]
print("input: \n")
print(test)
print("Lưu lượng đến hồ 2 giờ sau (t + 2): ", loaded_rf_model.predict(test))

input:

   Tổng lưu lượng xả (m³/s)[Thực tế] - t  SoMua  Lưu lượng đến hồ (m³/s) - t
0                                   22.0    2.2                        25.72
Lưu lượng đến hồ 2 giờ sau (t + 2):  [25.04107302]

In [1]:
import joblib
# Load mô hình RandomForest
loaded_rf_model_t4 = joblib.load('best_model/best_rf_model_t_4.pkl')

In [ ]:
# 28.2	0.0	32.46	29.31

In [2]:
import pandas as pd
test = pd.DataFrame()
x1 = float(input("Nhập tổng lưu lượng xả tại thời điểm t: "))
x2 = float(input("Mưa tại thời điểm t: "))
x3 = float(input("Nhập lưu lượng nước tại thời điểm t: "))
test['Tổng lưu lượng xả (m³/s)[Thực tế] - t'] = [x1]
test['SoMua'] = [x2]
test['Lưu lượng đến hồ (m³/s) - t'] = [x3]
print("input: \n")
print(test)
print("Lưu lượng đến hồ 2 giờ sau (t + 4): ", loaded_rf_model_t4.predict(test))

input:

   Tổng lưu lượng xả (m³/s)[Thực tế] - t  SoMua  Lưu lượng đến hồ (m³/s) - t
0                                   28.2    0.0                        32.46
Lưu lượng đến hồ 2 giờ sau (t + 4):  [31.27011377]

## TEST EXCEL

In [1]:
import pandas as pd
df = pd.read_excel('demo.xlsx')
df

   Tổng lưu lượng xả (m³/s)[Thực tế]-t  SoLieuMua  Lưu lượng đến hồ (m³/s)-t
0                                 19.0   0.000000                      32.35
1                                 28.0   0.000000                      54.06
2                                 30.6   0.000000                      55.63
3                                 17.5   0.240000                      38.33
4                                 28.0   0.000000                      53.62
5                                  8.0   0.000000                       8.78
6                                 30.0  41.400001                      35.23
7                                 29.0   1.090000                      74.23
8                                  0.0   0.000000                       1.47
9                                  0.0   0.000000                       1.49

In [3]:
import joblib
# Load mô hình RandomForest
loaded_rf_model_t2 = joblib.load('best_model/best_rf_model_t_2.pkl')

In [4]:
y_pred_t2 = loaded_rf_model_t2.predict(df)

Giá trị lưu lượng nước đến hồ chứa An Khê thực tế ở 2h sau:
- 32.91
- 53.75
- 55.47
- 20.87
- 53.25
- 7.83
- 31.15
- 72.68
- 1.53
- 1.55

Giá trị dự báo 2h sau

In [5]:
y_pred_t2

array([31.37423955, 52.54653767, 53.0224127 , 37.04422639, 52.50124708,
        9.10920687, 33.33648216, 74.89356115,  1.62405253,  1.62933359])

## TEST CSV

In [1]:
import pandas as pd
df = pd.read_csv('demo.csv')
df

,Tổng lưu lượng xả (m³/s)[Thực tế] - t,SoLieuMua,Lưu lượng đến hồ (m³/s) - t
0,11.0,1.000000,22.20
1,19.0,0.000000,32.35
2,28.0,0.000000,54.06
3,30.6,0.000000,55.63
4,17.5,0.240000,38.33
5,28.0,0.000000,53.62
6,8.0,0.000000,8.78
7,30.0,41.400001,35.23
8,29.0,1.090000,74.23
9,0.0,0.000000,1.47
10,0.0,0.000000,1.49

In [2]:
df['Tổng lưu lượng xả (m³/s)[Thực tế] - t']

0     11.0
1     19.0
2     28.0
3     30.6
4     17.5
5     28.0
6      8.0
7     30.0
8     29.0
9      0.0
10     0.0
Name: Tổng lưu lượng xả (m³/s)[Thực tế] - t, dtype: float64

In [5]:
array_tongxa = df['Tổng lưu lượng xả (m³/s)[Thực tế] - t'].values
array_tongxa

array([11. , 19. , 28. , 30.6, 17.5, 28. ,  8. , 30. , 29. ,  0. ,  0. ])

In [7]:
array_somua= df['SoLieuMua'].values
array_somua

array([ 1.      ,  0.      ,  0.      ,  0.      ,  0.24    ,  0.      ,
        0.      , 41.400001,  1.09    ,  0.      ,  0.      ])

In [8]:
array_luuluongden= df['Lưu lượng đến hồ (m³/s) - t'].values
array_luuluongden

array([22.2 , 32.35, 54.06, 55.63, 38.33, 53.62,  8.78, 35.23, 74.23,
        1.47,  1.49])